body {  padding-top: 70px; padding-bottom: 70px;}
        /*强制不换行 */
.book_info{
    display: inline-block;
    white-space: nowrap;
    width: 100%;             /*文本宽度*/
    overflow: hidden;        /*超出部分隐藏*/
    text-overflow:ellipsis;
}
.loginCenter {
    line-height: 27px;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 13px 25px 5px 25px;
}
.div_left{
    width: 20%;
    float: left;
    border:0px none;
}
.div_center{
    width: 60%;
    float: left;
    border:0px none;
}
.div_right{
    width: 20%;
    float: left;
    border:0px none;
}
.favorite_left{
    width: 50%;
    float: left;
    border: 1px solid#ed4259;
}
.favorite{
    width: 50%;
    float: left;
    border: 1px solid#28ff46;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-top li:nth-child(1) i.topNum, .list-top li:nth-child(2) i.topNum, .list-top li:nth-child(3) i.topNum {
    background: #ffce00;
}
.list-top i.topNum {
    display: inline-block;
    margin-right: 5px;
    background: #c3c3c3;
    color: #ffffff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px 2px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
/*.thumbnail{*/
/*    border:0px none;*/
/*    box-shadow: none;*/
/*}*/
.img-responsive{
    cursor: pointer;
    transition: all 0.2s;
    border:0px;
}
.img-responsive:hover{
    transform: scale(1.05);
    background: #e4e7e1;
}
.thumbnail.book_info_left{
    width: 40%;
    float: left;
    border: 0px none;
}
.thumbnail.book_info_right{
    width:60%;
    height: auto;
    float: left;
    border:0px none;
}
.thumbnail.book_info_left a span{
    position: absolute;
    left: 20px;
    top: 5px;
    font: 12px/18px Arial;
    padding: 0 4px 0 2px;
    height: 20px;
    background: #ed4259;
}
.carousel-inner > .item > img {
    width:100%; /* Or try to use important */
    height:auto;
}

/*.book_grade{*/
/*    position: absolute;*/
/*    line-height: 18px;*/
/*    left: 22px;*/
/*    !*下边距*!*/
/*    bottom: 24px;*/
/*    background: #ed4259;*/
/*}*/
/*.class1.class2（中间没有空格）匹配的是同时拥有class1和class2的元素*/

/*1 <div class="class1 class2">...</div>*/

/*                                  .class1 .class2匹配的是父节点有.class1，子节点有.class2的元素*/

/*1 <div class="class1">*/
/*2     <div class="class2">*/
/*3         ...*/
/*4     </div>*/
/*5 </div>*/



